insmod part_gpt
insmod part_msdos
insmod fat
insmod f2fs
insmod efi_gop
insmod efi_uga
insmod video_bochs
insmod video_cirrus
insmod font


if loadfont "${prefix}/fonts/unicode.pf2" ; then
  insmod gfxterm
  set gfxmode="1024x768x32;auto"
  terminal_input console
  terminal_output gfxterm
fi

menuentry "ArcoLinuxB-leftwm install medium (x86_64, UEFI, open source, no nouveau)" {
  set gfxpayload=keep
  search --no-floppy --set=root --label ARCOLINUX
  linux /arch/boot/x86_64/vmlinuz-linux archisobasedir=arch cow_spacesize=8G archisolabel=ARCOLINUX  i915.modeset=1 add_efi_memmap
  initrd  /arch/boot/intel-ucode.img
  initrd  /arch/boot/amd-ucode.img
  initrd  /arch/boot/x86_64/initramfs-linux.img
}

menuentry "UEFI Shell x86_64 v2" {
  search --no-floppy --set=root --label ARCOLINUX
  chainloader /EFI/shellx64_v2.efi
}

menuentry "UEFI Shell x86_64 v1" {
  search --no-floppy --set=root --label ARCOLINUX
  chainloader /EFI/shellx64_v1.efi
}
